body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width:100%;
    margin:0px;
}
.note{
    font-size: 15px;
    color:black;
}
#song{
    font-size: 23 px;
    margin: 15 px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}